@tailwind base;
@tailwind components;
@tailwind utilities;

.screen-view {
  @apply px-3 mt-20;
}
.screen-header {
  @apply font-bold mx-auto text-2xl mb-2;
}
.complete-habit {
  @apply line-through text-gray-400
}

@layer components {
  .btn {
    @apply bg-blue-400 items-center py-3 px-3 rounded-2xl;
  }
  .btn > .btn-text {
    @apply text-white;
  }
}
